:root {
  --font-primary: 'Roboto', sans-serif;
  --color-text-light: rgba(255, 255, 255, 0.87);
  --color-text-dark: #213547;
  --color-bg-dark: #1b1b3a;
  --color-bg-medium: #2c2c54;
  --color-bg-light: #ffffff;
  --color-primary: #8e44ad;
  --color-primary-hover: #732d91;
  --color-secondary: #3498db;
  --color-secondary-hover: #2980b9;
  --color-accent: #1abc9c;
  --color-accent-hover: #16a085;
  --color-highlight: #f5d300;
  --color-warning: #f39c12;
  --color-error: #e74c3c;
  --color-success: #2ecc71;
  --color-button-bg: #1a1a1a;
  --color-button-bg-light: #f9f9f9;
  --color-link: #3498db;
  --color-link-hover: #2980b9;

  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-light);
  background-color: var(--color-bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100vw;
  background: linear-gradient(
    135deg,
    #000000,
    #1b1b3a,
    #8e44ad,
    #3498db,
    #1abc9c,
    #000000
  );
  background-size: 300% 300%;
  animation: gradient 30s ease-out 2s infinite backwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
