:root {
  --font-primary: 'Roboto', sans-serif;
  --color-text-light: rgba(255, 255, 255, 0.87);
  --color-text-dark: #213547;
  --color-bg-dark: #1b1b3a;
  --color-bg-medium: #2c2c54;
  --color-bg-light: #ffffff;
  --color-primary: #8e44ad;
  --color-primary-hover: #732d91;
  --color-secondary: #3498db;
  --color-secondary-hover: #2980b9;
  --color-accent: #1abc9c;
  --color-accent-hover: #16a085;
  --color-highlight: #f5d300;
  --color-warning: #f39c12;
  --color-error: #e74c3c;
  --color-success: #2ecc71;
  --color-button-bg: #1a1a1a;
  --color-button-bg-light: #f9f9f9;
  --color-link: #8e44ad;
  --color-link-hover: #732d91;

  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-light);
  background-color: var(--color-bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    135deg,
    #000000,
    #1b1b3a,
    #8e44ad,
    #3498db,
    #1abc9c,
    #000000
  );
  background-size: 300% 300%;
  animation: gradient 30s ease-out 2s infinite backwards;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-hover);
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  color: var(--color-primary);
}

h2 {
  font-size: 2em;
  line-height: 1.1;
  color: var(--color-secondary);
}

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.8em 1.5em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-bg);
  color: var(--color-text-light);
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  border-color: var(--color-primary);
  background-color: var(--color-primary-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text-dark);
    background-color: var(--color-bg-light);
  }
  a:hover {
    color: var(--color-link-hover);
  }
  button {
    background-color: var(--color-button-bg-light);
    color: var(--color-text-dark);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
